[Unit]
StartLimitIntervalSec=400
StartLimitBurst=3
Description=A custom service

[Service]
User=root
WorkingDirectory={working-dir}
ExecStart={exec}
Restart=always

[Install]
WantedBy=multi-user.target
